<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		<script type="text/javascript" src="jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="ajax.js"></script>
	</head>
	<body>
		<div class="login">
			<center><img src='zeiss.logo.png'></img></center>
			<h1> 3FM <br /> Operator Logbook</h1>
			<div class="links">
				<a href="/" class="active">Login</a>
			</div>

			<form class="login-form" action="/" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>

				<input type="text" name="username" placeholder="Username" id="username" pattern="[a-zA-Z0-9]+" minlength="3" maxlength="15" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>

				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>
